.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 40px;
    color: #657C9A;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark-box {
    position: absolute;
    top: 3px;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #FFFFFF;
    border: 1px solid #C1CFE0;
}

.checkbox-container:hover input ~ .checkmark-box {
    background-color: #ccc;
}

.checkbox-container:hover input ~ .checkmark-box.checked, .checkmark-box.checked {
    background-color: #4E86E4;
    border: 3px solid #C1CFE0;
}

.checkmark-box:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark-box:after {
    display: block;
}

.checkbox-container .checkmark-box:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
