.step-wizard {
    width: 970px;
    margin: 0 auto;
}

.step-wizard-menu-list {
    display: flex;
    justify-content: center;
}

.step-wizard-menu-item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.step-wizard-body {
    display: flex;
    justify-content: space-between;
    padding: 65px 100px;
    background: rgba(231,240,255,0.2);
}

.account-form-input {
    padding-bottom: 24px;
    max-height: 82px;
    width: 400px;
}

.account-form__button-container {
    text-align: end;
    margin-top: 125px;
}

.account-form__button, .profile-form__button {

}

.account-form__button-back, .profile-form__button-back {
    background-color: #C1CFE0;
}

.account-form__button-success, .profile-form__button-success {
    background-color: #4EE4A5;
}

.avatar-container {
    position: relative;
    width: 171px;
    height: 171px;
    text-align: center;
    border: 3px solid #5E97F3;
    border-radius: 50%;
    background: url("../../icons/list-of-users.svg") 50% 105% no-repeat;
    background-size: 100px 155px;
}

.profile-form-input {
    padding-bottom: 24px;
    max-height: 82px;
    width: 300px;
}

.profile-form-date {
    padding-bottom: 24px;
    max-height: 82px;
    width: 192px;
}

.profile-form__button-container {
    margin-top: 155px;
    display: flex;
    justify-content: space-between;
}

.step-wizard-menu__button {
    width: 100%;
    border: none;
    font-size: 24px;
    font-weight: bold;
    background: #EAF1FD;
    padding: 16px 0;
    color: #475666;
}

.step-wizard-menu__button:disabled {
    color: #9BB0CB;
    background: rgba(151,186,244,0.2);
}

.step-wizard-menu__button.current {
    color: #FFFFFF;
    background: #4E86E4;
}
