.button {
    padding: 12px 24px;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    font-family: Roboto, sans-serif;
    background-color: #5E97F3;
    min-width: 100px;
}

.input-img {
    position: absolute;
    top: 35px;
    right: 6px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    z-index: 0;
    padding: 0;
    min-width: 0;
}
