.user-form {
    width: 970px;
    margin: 0 auto;
}

.user-form-menu-list {
    display: flex;
    justify-content: center;
}

.user-form-menu-item {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.user-form-body {
    display: flex;
    justify-content: space-between;
    padding: 65px 100px;
    background: rgba(231,240,255,0.2);
}

.account-form-input {
    padding-bottom: 24px;
    max-height: 82px;
}

.account-form-btn {
    text-align: end;
    margin-top: 125px;
}

.avatar-container {
    position: relative;
    width: 171px;
    height: 171px;
    text-align: center;
    border: 3px solid #5E97F3;
    border-radius: 50%;
    background: url("../../icons/list-of-users.svg") 50% 105% no-repeat;
    background-size: 100px 155px;
}
