.icon-button {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: none;
    background: none;
}

.icon-button__icon {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
