.form {
    display: flex;
    justify-content: space-between;
}

.form > div {
    width: 300px;
    min-height: 500px;
}

.with-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon-button.phones-controls-icon {
    position: absolute;
    top: 45%;
    right: -20px;
    border-radius: 50%;
}

.phones-controls-btn {
    border: none;
    background: none;
    padding: 0;
    color: var(--secondary-text-color--darked);
}

@media screen and (max-width: 767px) {
    .form {
        flex-direction: column;
        align-items: center;
    }

    .form > div {
        min-height: auto;
    }
}

@media screen and (max-width: 479px) {
    .form {
        width: 100%
    }

    .form > div, .with-controls {
        min-width: 100%;
        max-width: 100%;
    }

}
