.form {
    display: flex;
    justify-content: space-between;
}

.form > div {
    width: 300px;
    min-height: 500px;
}

.with-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
