.form {
    display: flex;
    justify-content: space-between;
}

.account-form__input {
    padding-bottom: 24px;
    max-height: 82px;
    width: 400px;
}

.account-form__button-container {
    text-align: end;
    margin-top: 125px;
}

.avatar-container {
    position: relative;
    width: 171px;
    height: 171px;
    text-align: center;
    border: 3px solid #5E97F3;
    border-radius: 50%;
    background: url("../../icons/list-of-users.svg") 50% 105% no-repeat;
    background-size: 100px 155px;
}

.profile-form__input {
    padding-bottom: 24px;
    max-height: 82px;
    width: 300px;
}

.profile-form__input-date {
    width: 192px;
}
