.user-information-container {
    display: flex;
    flex-direction: row;
    padding: 35px 70px 60px 58px;
    background-color: rgba(231,240,255,0.2);
    width: 100%;
}

.user-information {
    margin-left: 90px;
    display: flex;
    flex-direction: column;
}

.user-information-block {
    display: flex;
    margin-top: 24px;
    align-items: flex-start;
}

.user-information-list {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
}

.user-information-block-item {
    display: flex;
    margin-bottom: 16px;
}

.user-information-title {
    width: 95px;
    color: #475666;
    font-weight: bold;
    display: flex;
}

.user-information-data {
    margin-left: 75px;
    width: 229px;
    color: #657C9A;
}

.user-information-icon {
    margin: 1px 0 0 7px
}

.user-information-icon path {
    fill: #475666;
}

.user-information-block > .user-information-title {
    cursor: pointer;
}

.user-information-block > .user-information-title:hover {
    color: #4E86E4;
}

.user-information-block > .user-information-title:hover .user-information-icon path {
    fill: #4E86E4;
}
