.button {
    padding: 12px 24px;
    font-size: 15px;
    color: #FFFFFF;
    border: none;
    font-family: Roboto, sans-serif;
    background-color: var(--primary-bg-color);
    min-width: 100px;
    cursor: pointer;
}

.button:hover, .button:focus {
    opacity: 0.8;
}

.button-cancel {
    background-color: #C1CFE0;
}

.button-success {
    background-color: var(--success-color);
}

.button:active {
    transform: scale(0.99);
}

.button:disabled {
    background-color: var(--disabled-bg-color);
}

.input-img {
    position: absolute;
    top: 35px;
    right: 6px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: none;
    z-index: 0;
    padding: 0;
    min-width: 0;
    cursor: pointer;
}
