.input-container {
    position: relative;
    padding-bottom: 24px;
    max-height: 82px;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .input-container {
        max-height: max-content;
    }
}
