.input-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1px;
}

.is-required {
    color: var(--secondary-text-color);
}

.input-title {
    color: var(--secondary-text-color--darked);
    font-weight: normal;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
