.table-row {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.table-row.selected {
    transform: translateX(-70px);
}

.table-row.selected > .table-cell {
    opacity: 0.5;
}

.table-row.selected .table-cell:last-child {
    opacity: 1;
}
