.title-container {
    padding: 56px 0 45px 0;
    width: 970px;
    margin: 0 auto;
    display: flex;
    font-weight: bold;
    align-items: flex-end;
    justify-content: space-between;
}

.title {
    font-size: 35px;
    text-align: center;
}

.title-secondary {
    color: var(--secondary-text-color);
    font-size: 24px;
}

.content {
    width: 970px;
    margin: 0 auto 100px auto;
    background: var(--secondary-bg-color--lighter);
}
