.radio-container {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 40px;
    color: #657C9A;
    font-family: 'Roboto', sans-serif;
}

.radio-container.checked {
    color: #000000;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #C1CFE0;
}

.radio-container:hover .checkmark {
    background-color: #ccc;
}

.radio-container:hover .checkmark.checked, .checkmark.checked {
    background-color: #4E86E4;
    border: 3px solid #C1CFE0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-container .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
