.react-datepicker-wrapper.input-container {
    padding: 0;
}

.react-datepicker__header {
    background: var(--application-background);
    border-bottom: none;
}

.react-datepicker__navigation {
    border: none;
    top: 13px;
}

.react-datepicker__navigation--previous {
    background-color: #CED9E5;
    mask: url("../../icons/back.svg") 50% 50% no-repeat;
}

.react-datepicker__navigation--next {
    background-color: #CED9E5;
    mask: url("../../icons/back.svg") 50% 50% no-repeat;
    transform: rotate(180deg);
}

.react-datepicker__current-month {
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

.react-datepicker__month {
    margin: 0;
    background: var(--application-background);
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 22px;
    line-height: 18px;
}

.react-datepicker__day:hover {
    background: var(--secondary-text-color);
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__day--keyboard-selected, .react-datepicker__year-text--in-range {
    background: rgba(151,186,244,0.6);
}

.react-datepicker__day--selected.react-datepicker__day--outside-month {
    background: none;
}

.react-datepicker__day--outside-month {
    color: transparent;
    pointer-events: none;
}
