.autocomplete-dropdown-container {
    top: 100%;
    background-color: var(--application-background);
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 8px;
    position: absolute;
    width: 100%;
    z-index: 1;
    color: var(--secondary-text-color--darked);
}

.autocomplete-dropdown-container__item {
    padding: 8px 12px;
    font-size: 14px;
}

.autocomplete-dropdown-container__item-active {
    background-color: var(--secondary-bg-color);
    cursor: pointer;
}
