.app-header {
    background: var(--main-gradient);
    box-shadow: 0 1px 5px #C1CEDE;
    padding: 21px 0;
}

.app-logo {
    height: 16px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-menu-list {
    display: flex;
}

.header-menu-item {
    display: flex;
    margin-left: 50px;
}

.menu-link {
    color: #FFFFFF;
    text-decoration: none;
}

.menu-link.active-link {
    color: #C1CFE0;
}

.header-icon {
    margin-right: 10px;
}

.header-icon path {
    fill: #FFFFFF;
}

.header-icon-active path {
    fill: #C1CFE0;
}

@media screen and (max-width: 479px) {
    .header-menu-item {
        margin-left: 10px;
    }
}
