.selected-row-button {
    color: var(--error-color--lighter);
    padding: 0;
    min-width: 70px;
    text-align: right;
    background: none;
    font-weight: bold;
}

.selected-row-button:hover {
    color: var(--error-color);
}

.username {
    font-size: 9px;
}

@media screen and (max-width: 767px) {
    .username {
        font-size: 7px;
    }
}

@media screen and (max-width: 580px) {
    .table {
        font-size: 6px;
    }
}
