.selected-row-button {
    position: absolute;
    top: 40%;
    color: var(--error-color--lighter);
    padding: 0;
    min-width: 70px;
    text-align: right;
    background: none;
    font-weight: bold;
}

.selected-row-button:hover {
    color: var(--error-color);
}
