.input {
    width: 100%;
    height: 40px;
    border: 1px solid #C1CFE0;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 5px 0 2px 0;
}

.input::placeholder {
    color: var(--secondary-text-color);
    opacity: 1;
}

.input:-ms-input-placeholder {
    color: var(--secondary-text-color);
}

.input::-ms-input-placeholder {
    color: var(--secondary-text-color);
}

.input:focus {
    border: 1px solid #A1C4FF;
}

.input.error {
    border: 1px solid var(--error-color);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}
