.file-input {
    color: #9BB0CB;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.file-input:focus-within {
    border: 1px solid #A1C4FF;
}

.file-input:hover {
    color: #657C9A;
}

.file-input > input {
    width: 0;
    height: 0;
}

.input.error {
    border: 1px solid #EB5757;
}
