.file-input {
    color: var(--secondary-text-color);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.file-input:focus-within, .file-input:hover {
    color: var(--secondary-text-color--darked);
}

.file-input > input {
    width: 0;
    height: 0;
}

.input.error {
    border: 1px solid var(--error-color);
}
