.internal-link {
    text-decoration: none;
}

.internal-link:hover {
    color: var(--main-text-color);
}

.internal-link__icon {
    margin-right: 10px;
}

.internal-link__icon path{
    stroke: var(--secondary-text-color);
}

.internal-link:hover .internal-link__icon path{
    stroke: var(--main-text-color);
}
