.table-body {
    width: 100%;
    background: #FFFFFF;
    border-top: 29px solid #FFFFFF;
    position: relative;
}

.table__body tr:nth-child(odd) {
    background-color: rgba(231, 240, 255, 1);
}
