.table-head {
    background: var(--primary-bg-color--lighter);
}

@media screen and (max-width: 650px) {
    .table-head {
        font-size: 10px;
    }
}

@media screen and (max-width: 479px) {
    .table-head {
        font-size: 9px;
    }
}
