.logger-page {
    margin-bottom: 50px;
}

.empty-logger {
    padding: 200px 0;
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 24px;
}

.logger-page__button {
    margin: 20px 0 20px 10px;
}

.last-connection {
    margin: 0 0 15px 15px;
}

.last-connection span {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .empty-logger {
        padding: 100px 0;
        font-size: 18px;
    }
}
