/*-------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, big, em, font, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

ol, ul {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

strong, b {
  font-weight: bold;
}

em {
  font-style: italic;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/*-------------------------------------*/
html {
  width: 100%;
}

body {
  background: #FFFFFF;
  font-size: 14px;
  color: #000000;
}

.clr, #clr {
  clear: both;
}

* {
  box-sizing: border-box;
}

/*-------------------------------------   word-wrap: break-word;  */

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
  url('./fonts/Roboto-Regular.woff') format('woff'),
  url('./fonts/Roboto-Regular.ttf') format('truetype');
}

/*-------------------------------------     fonts*/

:root {
  --primary-bg-color--lighter: #4E86E4;
  --primary-bg-color: #5E97F3;
  --secondary-bg-color: #E7F0FF;
  --secondary-bg-color--lighter: #FAFCFF;
  --disabled-bg-color: #C1CFE0;

  --main-text-color: #475666;
  --main-text-color--dark: #000000;
  --secondary-text-color: #9BB0CB;
  --secondary-text-color--darked: #657C9A;
  --disabled-text-color: #C1CFE0;

  --error-color: #EB5757;
  --error-color--lighter: #FF8989;
  --success-color: #4EE4A5;

  --main-gradient: radial-gradient(50% 28800% at 50% 68.33%, #4E86E4 0%, #2F68C8 100%);

}

.App {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: var(--main-text-color);
}

.center {
  margin: 0 auto;
  width: 970px;
}

.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

.bold-text {
  font-weight: bold;
}

@media screen and (max-width: 969px) {
  .center {
    width: 98%;
  }
}
