.no-data {
    padding: 100px 0 134px 0;
    text-align: center;
}

.no-data > .button {
    margin-top: 64px;
}

.no-data > .title {
    color: var(--secondary-text-color);
    font-weight: bold;
}

.generate-button {
    margin: 20px 0 20px 10px;
}

.generate-button:hover:enabled {
    background-color: var(--primary-bg-color--lighter);
}
