.pagination {
    display: flex;
    background: #318CF5;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 15px;
}

.pagination__item {
    cursor: pointer;
}

.pagination__item:hover {
    color: #1d5d90;
}

.pagination__item_link_disabled, .pagination__item_link_disabled .pagination__item:hover {
    cursor: default;
    color: #C1CFE0;
}

.pagination__item_active {
    color: #000000;
    cursor: default;
}

.pagination__item_active:hover {
    color: #000000;
}
