.pagination {
    display: flex;
    background: var(--primary-bg-color--lighter);
    justify-content: space-between;
    color: #FFFFFF;
    padding: 15px;
}

.pagination__item {
    cursor: pointer;
}

.pagination__item:hover {
    color: var(--main-hover-color);
}

.pagination__item_link_disabled, .pagination__item_link_disabled .pagination__item:hover {
    cursor: default;
    color: var(--disabled-text-color);
}

.pagination__item_active {
    color: var(--main-text-color--dark);
    cursor: default;
}

.pagination__item_active:hover {
    color: var(--main-text-color--dark);
}
