.not-found {
    background: url('lupa.png') no-repeat;
    height: 775px;
}

.not-found__title {
    font-size: 35px;
    font-weight: bold;
    padding-top: 270px;
}

.not-found__title span {
    font-size: 80px;
    padding: 0 60px 0 135px;
}

@media screen and (max-width: 767px) {
    .not-found {
        padding-left: 130px;
    }

    .not-found__title span {
        padding: 0;
        display: block;
    }
}

@media screen and (max-width: 479px) {
    .not-found {
        padding-left: 20px;
    }
}
